* {
  padding: 0;
  margin: 0;
}

@media (min-width: 480px) {
  #wrap {
    display: block;
    height: 342px;
    width: 300px;
    margin: 0px auto 0 auto;
    position: relative;
  }
}

@media (min-width: 480px) {
  #slideshow {
    overflow: hidden;
  }
}

@media (min-width: 480px) {
  #slideshow ul {
    list-style-type: none;
    height: 100%;
    width: 500%;
    position: relative;
    left: 0px;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
  }
}

@media (min-width: 480px) {
  #slideshow ul li {
    width: 20%;
    height: 300px;
    float: left;
    position: relative;
  }
}

@media (min-width: 480px) {
  #wrap label:not(.arrows):not(.show-description-label) {
    position: absolute;
    left: 45%;
    top: 90%;
    display: table-cell;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    overflow: hidden;
  }
}

@media (min-width: 480px) {
  label.arrows {
    display: none;
    opacity: 0.1;
    border-radius: 3px;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 8px;
    margin-top: -7%;
    background: #555555;
  }
}

@media (min-width: 768px) {
  #wrap {
    display: block;
    height: 433px;
    width: 380px;
    margin: 0px auto 0 auto;
    position: relative;
  }
}

@media (min-width: 768px) {
  #slideshow {
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  #slideshow ul {
    list-style-type: none;
    height: 100%;
    width: 500%;
    position: relative;
    left: 0px;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
  }
}

@media (min-width: 768px) {
  #slideshow ul li {
    width: 20%;
    height: 380px;
    float: left;
    position: relative;
  }
}

@media (min-width: 768px) {
  #wrap label:not(.arrows):not(.show-description-label) {
    position: absolute;
    left: 45%;
    top: 90%;
    display: table-cell;
    width: 38px;
    height: 38px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  label.arrows {
    display: none;
    opacity: 0.1;
    border-radius: 3px;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 8px;
    margin-top: -7%;
    background: #555555;
  }
}

@media (min-width: 960px) {
  #wrap {
    display: block;
    height: 570px;
    width: 500px;
    margin: 0px auto 0 auto;
    position: relative;
  }
}

@media (min-width: 960px) {
  #slideshow {
    overflow: hidden;
  }
}

@media (min-width: 960px) {
  #slideshow ul {
    list-style-type: none;
    height: 100%;
    width: 500%;
    position: relative;
    left: 0px;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
  }
}

@media (min-width: 960px) {
  #slideshow ul li {
    width: 20%;
    height: 500px;
    float: left;
    position: relative;
  }
}

@media (min-width: 960px) {
  #wrap label:not(.arrows):not(.show-description-label) {
    position: absolute;
    left: 45%;
    top: 90%;
    display: table-cell;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    overflow: hidden;
  }
}

@media (min-width: 960px) {
  label.arrows {
    display: none;
    opacity: 0.1;
    border-radius: 3px;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -7%;
    background: #555555;
  }
}

#slideshow ul li img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
}

#wrap input[type=radio] {
  position: absolute;
  visibility: hidden;
}

#wrap label:not(.arrows):not(.show-description-label):hover {
  -webkit-box-shadow: 0px 3px 0px 0px rgba(85,85,85,0.7);
  box-shadow: 0px 3px 0px 0px rgba(85,85,85,0.7);
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

#wrap input[type=radio]#button1:checked ~ label[for=button1] {
  -webkit-box-shadow: 0px 3px 0px 0px rgba(85,85,85,0.7);
  box-shadow: 0px 3px 0px 0px rgba(85,85,85,0.7);
}

#wrap input[type=radio]#button2:checked ~ label[for=button2] {
  -webkit-box-shadow: 0px 3px 0px 0px rgba(85,85,85,0.7);
  box-shadow: 0px 3px 0px 0px rgba(85,85,85,0.7);
}

#wrap input[type=radio]#button3:checked ~ label[for=button3] {
  -webkit-box-shadow: 0px 3px 0px 0px rgba(85,85,85,0.7);
  box-shadow: 0px 3px 0px 0px rgba(85,85,85,0.7);
}

#wrap input[type=radio]#button4:checked ~ label[for=button4] {
  -webkit-box-shadow: 0px 3px 0px 0px rgba(85,85,85,0.7);
  box-shadow: 0px 3px 0px 0px rgba(85,85,85,0.7);
}

#wrap input[type=radio]#button5:checked ~ label[for=button5] {
  -webkit-box-shadow: 0px 3px 0px 0px rgba(85,85,85,0.7);
  box-shadow: 0px 3px 0px 0px rgba(85,85,85,0.7);
}

#wrap input[type=radio]#button1:checked ~ #slideshow ul {
  left: 0;
}

#wrap input[type=radio]#button2:checked ~ #slideshow ul {
  left: -100%;
}

#wrap input[type=radio]#button3:checked ~ #slideshow ul {
  left: -200%;
}

#wrap input[type=radio]#button4:checked ~ #slideshow ul {
  left: -300%;
}

#wrap input[type=radio]#button5:checked ~ #slideshow ul {
  left: -400%;
}

#wrap label[for=button1] {
  margin-left: -24%;
}

#wrap label[for=button2] {
  margin-left: -12%;
}

#wrap label[for=button3] {
  margin-left: 0;
}

#wrap label[for=button4] {
  margin-left: 12%;
}

#wrap label[for=button5] {
  margin-left: 24%;
}

label.arrows:hover {
  background: #555555;
  opacity: 0.5;
}

input[type=radio]#button1:checked ~ .arrows#arrow-2, input[type=radio]#button2:checked ~ .arrows#arrow-3, input[type=radio]#button3:checked ~ .arrows#arrow-4, input[type=radio]#button4:checked ~ .arrows#arrow-5 {
  right: 0px;
  display: block;
  z-index: 1;
  font-weight: bold;
  font-size: 25px;
  color: white;
}

input[type=radio]#button2:checked ~ .arrows#arrow-1, input[type=radio]#button3:checked ~ .arrows#arrow-2, input[type=radio]#button4:checked ~ .arrows#arrow-3, input[type=radio]#button5:checked ~ .arrows#arrow-4 {
  display: block;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

input[type=radio]#button2:checked ~ .arrows#arrow-1 {
  left: 24%;
  z-index: 1;
  font-weight: bold;
  font-size: 25px;
  color: white;
}

input[type=radio]#button3:checked ~ .arrows#arrow-2 {
  left: 12%;
  z-index: 1;
  font-weight: bold;
  font-size: 25px;
  color: white;
}

input[type=radio]#button4:checked ~ .arrows#arrow-3 {
  left: 0px;
  z-index: 1;
  font-weight: bold;
  font-size: 25px;
  color: white;
}

input[type=radio]#button5:checked ~ .arrows#arrow-4 {
  left: -12%;
  z-index: 1;
  font-weight: bold;
  font-size: 25px;
  color: white;
}

#thumbnail1, #thumbnail2, #thumbnail3, #thumbnail4, #thumbnail5 {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
}



.header {
  width: 100%;
  height: 64px;
  font-family: Montserrat;
}

/* - link under - */

.link-arrow:after {
  content: '';
  background-size: 100% 100%;
  width: 16px;
  height: 12px;
  position: absolute;
  top: 5px;
  right: -28px;
  -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
  transition: all .4s cubic-bezier(.35, 1, .33, 1);
}

.link-arrow:hover:after {
  right: -35px;
}

.link-arrow.link-arrow-white:after {
  background-size: 100% 100%;
}

.link-arrow-hover:after {
  right: -35px;
}

.link {
  display: inline-block;
  position: relative;
  border: none;
  padding-bottom: 4px;
  text-transform: uppercase;
  font-family: Montserrat, helvetica, arial, sans-serif;
  font-weight: 700;
  color: #a3a2a2;
}

.link:active, .link:focus, .link:hover {
  outline: 0;
}

.link:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: #555555;
  width: 0;
  height: 2px;
  -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
  transition: all .4s cubic-bezier(.35, 1, .33, 1);
}

.link:hover {
  color: #555555;
}

.link:hover:before {
  width: 100%;
}

.link-theme:before {
  background: #f05e5e;
}

/* header   box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */

.header {
  background-color: #fff;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px 4px 20px;
  text-decoration: none;
}

.header li a:hover, .header .menu-btn:hover {
  background-color: #fff;
}

.header .logo {
  color: #f05e5e;
  display: block;
  float: left;
  font-size: 2em;
  text-decoration: none;
  margin: 12px 20px 12px 20px;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #555555;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
  background: #f05e5e;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 875px) {
  .header li {
    float: left;
  }
}

@media (min-width: 875px) {
  .header li a {
    padding: 25px 0px 0px 0px;
    margin: auto 30px auto 0px;
  }
}

@media (min-width: 875px) {
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
}

@media (min-width: 875px) {
  .header .menu-icon {
    display: none;
  }
}

/* 48em = 768px */

@media (min-width: 48em) {
  .section-split a {
    width: 50%;
  }
}

